<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>signin</h3>
    <form action="/signin/" method="post">
        {% csrf_token %}
        <label for="">Username:</label>
        <input type="text" id="username" name="username" placeholder="Only letters"><br>
        
        <label for="">password:</label>
        <input type="password" id="password" name="password" placeholder="pass1"><br>
        
        <button type="submit">Sign up</button>
    </form>

</body>
</html>